<nav class="main-navbar navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('APP_HOMEPAGE') }}">Shadoc TV</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('APP_HOMEPAGE') }}">
                        Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('APP_PYAM') }}">
                        Ouverture PYAM
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('APP_GAME_CARD') }}">
                            Jeux des cartes
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ADMIN') }}">
                        Admin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
